#about-section{
    max-width: 80%;
    margin: 0 auto;
    margin-top: 40rem;
}

.row--2-col-2 h4, .row--1-col-2 h4, .row--3-col-1 h4{
    color: var(--primary-color);
    font-weight: 600;
}

.row--2-col-2 h2, .row--1-col-2 h2, .row--3-col-1 h2{
    line-height: 30px;
}

.row--2-col-2 p, .row--1-col-2 p, .row--3-col-1 p{
    margin-top: 1rem;
    color: grey;
    line-height: 1.5rem;
}

#about-section h3{
    text-align: center;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.row--3-col-2,.row--2-col-1, .row--1-col-1{
    width: 100%;
}

.row--3-col-2 img,.row--2-col-1 img, .row--1-col-1 img{
    width: 100%;
}

/*  repositioning the second prototype-2 img */
.row--2-col-1 img{
    margin-left: 8rem;
}

.row:nth-child(3){
    margin-left: 8rem;
    padding: -50px;
}
.row:nth-child(3),.row:nth-child(4){
    margin-top: -15rem;
}


@media screen and (max-width:600px) {
    #about-section{
        max-width: 100%;
        margin: 0 auto;
        margin-top: 20rem;
        /* height: 100vh; */
    }

    #about-section h3{
        border-bottom: 1px solid grey;
        border-bottom-width: 1px;
        padding-bottom: 2rem;
    }

    .row{
        display: flex;
        flex-direction: column;
        justify-items: center;
        text-align: center;
    }

    .row:nth-child(3){
        margin-left: 0rem;
        padding: 0px;
    }
    .row:nth-child(3),.row:nth-child(4){
        margin-top: 0rem;
    }

    .row--1-about, .row--3-about{
        display: flex;
        flex-direction: column-reverse;
    }
    
    .col-content{
        margin-top: 25px;
    }
    .row--2-col-1 img{
        margin-left: 2rem;
    }

    /* Ajusiting the position of the prototype img */
    .img-pro{
        margin-left: 2rem;
    }
}