nav{
    background-color: rgba(255, 255, 255, 0.863);
    box-shadow: 0px 1px 10px;
    padding: 0.5rem 0 0.5rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    
}

.logo{
    width: 140px;
}

/* menu Item */

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item .active{
    color: var(--primary-color);
}

.menu-item{
    display: flex;
    gap: 1.5rem;
    flex: 0 1% 1%;
    justify-content: flex-end;
    margin-top: 1rem;
}

.menu-item li{
    padding: 1rem 1.5rem;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.3px;
    font-family: var(--font-family-Montserrat);
}

.menu-item li a{
    text-decoration: none;
    color: black;
}

.menu-item li a:hover{
    color: var(--primary-color);
}


/* menuBar (hanbuger) */

.hanbuger-menu{
    margin-top: 1rem;
    width: 25px;
    transition: all ease 400ms;
    display: none;
}



@media screen and (max-width: 600px) {
    .hanbuger-menu{
        display: block;
    }
    
    .nav-container{
        display: block;
    }


    .container-content{
        display: grid;
        grid-template-columns: 90% 10%;
        align-items: center;
    }

    .menu-item li{
        padding: 0;
    }

    .menu-item{
        display: block;
        gap: 0;
        list-style: none;
        text-align: center;
        font-family: var(--font-family-Montserrat);
        height: 0;
        transition: 400ms;
    }
    
    .display-list{
        height: 200px;
    }
    
    .close-bar{
        width: 23px;
    }
    
    .menu-item li{
        padding: 0.65rem 0;
    }
    
    .menu-item .active{
        color: black;
    }
    
}