#hero-section {
    margin-top: 5.8rem;
    background-image:  linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../assets/img/hero-section.png');
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.hero-container{
    text-align: center;
}

.hero-container-content h3{
    padding: 1.5rem 0;
}

.hero-container-content p{
    font-weight: 700;
    font-size: 45px;
    line-height: 80px;
    margin: auto 250px;
}

.hero-btn{
    margin-top: 1.5rem;
}

.hero-btn button{
    margin: 0 1rem;
    color: white;
}

.hero-prototype-img{
    position: absolute;
    width: 100%;
}

.hero-prototype-img{
    margin: -7rem 0 0 20rem;
}
.hero-prototype-img img{
    width: 45%;

}


@media screen and (max-width: 600px) {
    #hero-section {
        margin-top: 6.4rem;
        width: 100%;
        height: 80vh;
        background-position: center;
    }

    .hero-container-content p{
        font-weight: 700;
        font-size: 28px;
        line-height: 33px;
        padding: 10px 0 ;
        margin: 0;
    }

    .hero-container-content h4{
        padding: 0 1.5rem;
        line-height: 30px;
    }

    .hero-btn .btn{
        padding: 0.5rem 5rem;
    }
    
    .hero-btn button{
        margin: 0.5rem 1rem;
        color: white;
    }

    .hero-prototype-img{
        margin: -4rem 0 0 -2rem;
    }

    .hero-prototype-img img{
        width: 380px;
    }
}